/*jo add*/
body {
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
}
a {
	color: #292b2c;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover {
	color: #ea5513;
	text-decoration: none;
}
/* a:focus {
	outline: none;
} */
img {
	max-width: 100%;
}
button {
	-webkit-transition: all 0.3s ease-in-out;
  transition: all .3s ease-in-out;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
button:focus {
	outline:none;
}
.pt_40 {
  padding-top: 40px;
}
.f-right {
  float: right;
}
.align-center {
  text-align: center;
  margin: 0 auto;
}
.desktop-only {
  display: block;
}
.mobile-only {
  display: none;
}
ul, li, ol {
  margin: 0;
  padding: 0;
}
.logo {
  display: inline-block;
  width: 100%;
}
img.logo-img {
  width: 150px;
}
ul.header_list {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  vertical-align: text-bottom;
  height: 80px;
  line-height: 120px;
}

.header_list > li {
	color: #eee;
	vertical-align: middle;
	display: inline-block;
	padding: 2px 10px 2px 0;
}
.header_list > li > i {
	font-size: 30px;
}
.header_list > li .fa-user {
	font-size: 16px;
}
.header_list > li a {
  color: #c9c9ca;
  font-size: 30px;
}
.header_list > li a > span {
  color: #c9c9ca;
  font-size: 14px;
}
.header_list > li a:hover {
  color:rgb(121 180 180 / 1);
}
.header_list > li a > span:hover {
  color: rgb(121 180 180 / 1);
}
.header_wrap:not([class*="bg_"]):not([class*="bg-"]) {
  background-color: #fff;
  width: 100vw;
}
.header_wrap.nav-fixed {
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1041;
  -webkit-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -o-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: none;
  -moz-animation-fill-mode: none;
  -o-animation-fill-mode: none;
  animation-fill-mode: none;
}
.header_wrap.fixed-top {
  position: relative;
  padding-right: 0 !important;
}
.header_wrap {
  transition: all 0.5s ease 0s;
}
.header_list > li .dropdown-item:hover,
.custome_dropdown .ddChild li:hover {
	color: #ea5513;
}
.header_dropdown .dropdown-menu {
	border-radius: 0;
	padding: 0;
	margin-top: 0px;
	border: 0;
	transform: none !important;
	top: 100% !important;
	will-change: auto !important;
}
.header_dropdown .dropdown-item {
	padding: 5px 10px;
	border-bottom: 1px solid #e6e6e6;
	text-transform: capitalize;
}
.navbar {
  background: #ffffff;
  padding: 0;
}
.navbar .navbar-nav > li > a.active, 
.navbar .navbar-nav > li:hover > a {
  color: #ea5513;
}
.navbar .navbar-nav .dropdown-item {
  padding: 8px 36px;
  color: #333;
  font-size: 14px;
  background: rgba(255, 255, 255, .9);
  border-bottom: 1px solid #eee;
}
.navbar .navbar-nav .dropdown-item:hover{
  color: #ea5513;
}
.bottom_header {
  background: #ffffff;
}
.indicators li::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 2px solid rgba(255,255,255, 0.5);
  margin: -4px;
}
.indicators li {
  background-color: rgba(255,255,255, 0.5);
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background-clip: inherit;
  border: 0;
  margin: 8px;
  position: relative;
  margin-bottom: 15px;
}
.indicators li.active {
  background-color: #ea5513;
}
.indicators li.active::before {
  border-color: #ea5513;
}
.banner_section {
	position: relative;
}
.banner_content_wrap {
	position: relative;
	z-index: 1;
}
.banner_half_content {
	padding: 100px 0 80px; 
	z-index: 0;
}
.banner_section.slide_wrap .carousel-item {
	height: 550px;
}
.banner_section .banner_slide_content {
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}
.carousel-item img {
	position: relative;
	z-index: -1;
	width: 100%;
}
.carousel-control-next, .carousel-control-prev {
  color: rgb(255, 255, 255, 0.5);
	font-size: 30px;
  height: 250px;
	opacity: 1;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 50px;
	transition: all 0.3s ease-in-out;
}
.carousel-control-next {
	right: 20px;
}
.carousel-control-prev {
	left: 20px;
}
.navbar-toggler {
  float: left;
  margin: 0;
  font-size: 30px;
  color: #333;
  transition: all 0.5s ease 0s;
  border-radius: 0;
  height: 35px;
  width: 35px;
  padding: 0;
  line-height: 30px;
  transition: none;
}
.navbar-toggler[aria-expanded="true"],
.navbar-toggler[aria-expanded="false"] {
  line-height: 32px;
  font-size: 20px;
}
/**/
.navbar-brand {
	padding: 10px 0;
	vertical-align: top;
	margin: 0;
}
.header_wrap {
	transition: all 0.5s ease 0s;
}
.navbar .navbar-nav li {
	position: relative;
	list-style: none;
	transition: all 0.3s ease 0s;
}
.navbar-nav .dropdown-menu {
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
  min-width: 14rem;
  background-color: rgba(255, 255, 255, .8)
}

.dropdown-toggle::after, .dropdown-toggler::after {
	font-family: "Font Awesome 5 Free";
   content: "\f107";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
	 font-weight:900;
	 border-top: 0;
}
.dropdown-toggler::after {
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.dropdown-menu .dropdown-toggler::after {
	position: absolute;
	right: 15px;
	top: 10px;
}
.navbar .navbar-nav > li > .nav-link {
	font-weight: 500;
	padding: 22px 26px;
	text-transform: capitalize;
  font-size: 16px;
  border-bottom: 1px dotted #eee;
}

.navbar .navbar-nav .dropdown-item.dropdown-toggler {
	padding-right: 30px;
}

.dropdown-item:focus, .dropdown-item:hover,
.dropdown-item.active, .dropdown-item:active {
	background-color: #FFF;
}

.navbar .navbar-nav .dropdown-menu li a.active, 
.navbar .navbar-nav .dropdown-menu li a:hover,  {
	color: #FF324D;
}
.header_wrap.fixed-top {
	position: relative;
	padding-right: 0 !important;
}

.header_wrap.nav-fixed {
	box-shadow:  0 0 5px rgba(0,0,0,0.15);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1041;
	-webkit-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
	-o-animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
	animation: slideInDown 0.65s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-animation-fill-mode: none;
	-moz-animation-fill-mode: none;
	-o-animation-fill-mode: none;
	animation-fill-mode: none;
}
/* .nav-fixed.border_bottom_tran {
	border: 0;
}
.header_wrap.fixed-top.transparent_header.nav-fixed.no-sticky {
	position: absolute;
}
.header_wrap.fixed-top.nav-fixed.no-sticky {
	position: relative;
}
.header_wrap:not([class*="bg_"]):not([class*="bg-"]).transparent_header.nav-fixed.no-sticky {
	background-color: transparent;
	box-shadow: none;
} */

.dropdown-menu li a i {
  font-size: 14px;
  width: 20px;
  display: inline-block;
	vertical-align: middle;
}

.top-header {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
	transition: all 0.5s ease-in-out;
}

.header_list > li i {
	margin-right: 6px;
	vertical-align: middle;
}

.header_list > li .dropdown-item:hover {
	color: #F32B56;
}

.nav-fixed .top-header,
.nav-fixed .middle-header {
	display: none !important;
}
header .attr-nav + .social_icons {
	border-left: 1px solid #333;
	margin-left: 5px;
	padding-left: 5px;
}
header .attr-nav + .social_icons li {
	padding: 0;
}

.search_box {
	position: relative;
}
.search_box input {
	padding-right: 30px;
}
.search_box button {
	border: 0;
	padding: 0 10px;
	background-color: transparent;
	font-size: 22px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: pointer;
}

.banner_img {
	position: relative;
}


body.active {
	overflow: hidden;
	padding-right: 17px;
}

.banner_section {
	position: relative;
}
.carousel-item img {
	position: relative;
	z-index: -1;
	width: 100%;
}

/**/
.pos-relative {
  position: relative;
}
.search-container {
  position: absolute;
  top: 18px;
  right: 2%;
}
.search-container input.search-bar {
  border: 1px solid #79b5b4;
  border-radius: 20px;
  padding: 5px 15px;
}
.search-btn {
  position: absolute;
  right: -5px;
  top: 0;
  border-radius: 50%;
  background: #79b4b4;
  width: 36px;
  height: 36px;
  color: #fff;
}
.search-btn:hover {
  background: #79b4b4;
}
.section {
  padding: 100px 0;
}
.section.pt_20 {
  padding-top: 20px;
}
.section.pb_20 {
  padding-bottom: 20px;
}
.section.ptb_20 {
  padding: 20px 0;
}
.section.ptb_40 {
  padding: 40px 0;
}
.section.pd_0 {
  padding: 0;
}
.section.pd_20 {
  padding: 20px;
}
.section.pd_40 {
  padding: 40px;
}
.about-us-img {

}
.section h2.title {
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
  color: #7d7d7d;
  font-size: 24px;
}
.section .title:hover {
  color: #7b9288;
}
.section h2 .large-eng {
  font-size: 56px;
  color: #eee;
  font-weight: 700;
  margin-left: 10px;
}
.iceland-top,.iceland-bottom {
  position: relative;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iceland-map {
  position: relative;
}
.iceland-hide {
  position: absolute;
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  display: none;
}
.iceland-hide:after {
  content: "";
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-left: 10px solid #fff; 
  position: absolute;
  right: -10px;
  top: 40%;
}
.iceland-map:hover + .iceland-hide {
  display: block;
}
.iceland-map:active,
.iceland-map:focus {
  outline:0;
}
.iceland-hide.aa-block {
  top: 21%;
  left: 10.5%;
}
.iceland-hide.bb-block {
  top: 42%;
  left: 16%;
}
.iceland-hide.cc-block {
  top: 52%;
  left: 28%;
}
.iceland-hide.dd-block {
  top: 72%;
  left: 17%;
}
.iceland-hide.ee-block {
  top: 80%;
  left: 34%;
}
.iceland-hide.ff-block {
  top: 69%;
  left: 59%;
}
.iceland-hide.gg-block {
  top: 39%;
  left: 64%;
}
.iceland-hide .numbers {
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  color: rgb(28, 129, 95);
  border-radius: 50%;
  background: #c3d8cf;
  margin-left: 5px;
  display: inline-block;
}
.thebeiginning {
  position: relative;
}
.thebeiginning:after {
  position: absolute;
  content:'一開始的相遇';
  font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;
  font-size: 64px;
  color: #ebf3f5;
  width: 140%;
  top: -39px;
  right: 13px;
  letter-spacing: 2px;
}
.more-link {
  border-radius: 20px;
  border: 1px solid #b5b7b6;
  width: 160px;
  padding: 5px 20px;
  text-align: center;
  font-weight: 600;
  margin-left: auto;
}
.more-link a {
  color: #b5b7b6;
}
.more-link:hover {
  background: #7b9288;
  border: 1px solid #7b9288;
}
.more-link:hover a{
  color: #fff;
}
.course-section {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.course-section img {
  max-width: 100%;
  transition: all 1s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}
.course-section:hover img {
  transform: scale(1.2);
}
.course-section .title {
  position: absolute;
  right: 0;
  bottom: 50px;
  height: 40px;
  width: 180px;
  z-index: 2;
  background: rgba(255,255,255,0.85);
  color: #999;
  font-size: 18px;
  padding-left: 10px;
  line-height: 40px;
  border-left: 5px solid rgba(255,255,255,0.85);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.course-section .title:hover {
  background: rgba(255,255,255,1);
  border-left: 5px solid #7b9288;
}
.course-section .content {
  position: absolute;
  right: 0;
  top: 120px;
  height: 155px;
  padding-top: 10px;
  max-width: 300px;
  z-index: 2;
  background: rgba(255,255,255,0.6);
  color: #999;
  border-top: 1px dotted #fff;
  font-size: 18px;
  padding-left: 10px;
  line-height: 28px;

  text-overflow: ellipsis;
  overflow: hidden;
  
  transition: all 1.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  
}
.course-section:hover .content {
  visibility: visible;
  opacity: 1;
}
.course-section .content-b {
  top: 30px;
}
.index-exp .area-section {
  border-radius: 20px;
  /* border: 1px solid #e6e6e6; */
  padding: 20px 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.index-exp .area-section:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.index-exp .area-section span.title {
  font-size: 16px;
}
.index-exp .area-section img {
  max-width: 70%;
  display: inline;
}
.index-exp .area-section .circle {
  display: block;
  content: ' ';
  z-index: 2;

  position: absolute;
  width: 60px;
  height: 60px;
  
  border-radius: 50%;

  transition: all 1s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.index-exp .area-section:hover .circle {
  border-radius: 50%;
  visibility: visible;
  opacity: 1;
}
.circle.yellow {
  background: rgba(248, 240, 85, 0.3);
}
.circle.pink {
  background: rgba(253, 134, 237, 0.3);
}
.circle.grey {
  background: rgba(208, 208, 202, 0.3);
}
.circle.circle-area1 {
  bottom: 30px;
  right: 103px;
}
.circle.circle-area2 {
  top: 70px;
  right: 160px;
}
.circle.circle-area3 {
  bottom: 20px;
  right: 50px;
}
.sharing_bg {
  background: #c3d8cf;
}
.article .article-img {
  border-radius: 20px;
}

.btnbox-tabs,
.btnbox-tabs .btnbox-tab-container,
.btnbox-tabs .btnbox-tabs-nav {
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: middle
}

.btnbox-social-share-holder.btnbox-dropdown.btnbox-left .btnbox-social-share-dropdown li:nth-child(1) {
    right: 5px
}

.btnbox-social-share-holder.btnbox-dropdown.btnbox-left .btnbox-social-share-dropdown li:nth-child(2) {
    right: 35px
}

.btnbox-social-share-holder.btnbox-dropdown.btnbox-left .btnbox-social-share-dropdown li:nth-child(3) {
    right: 65px
}

.btnbox-social-share-holder.btnbox-dropdown.btnbox-left .btnbox-social-share-dropdown li:nth-child(4) {
    right: 95px
}

.btnbox-social-share-holder.btnbox-dropdown.btnbox-left .btnbox-social-share-dropdown li:nth-child(5) {
    right: 125px
}

.btnbox-social-share-holder.btnbox-dropdown.btnbox-left .btnbox-social-share-dropdown li:nth-child(6) {
    right: 155px
}

.btnbox-social-share-holder.btnbox-dropdown.btnbox-left .btnbox-social-share-dropdown li:nth-child(7) {
    right: 185px
}

.btnbox-tabs .btnbox-tabs-nav {
    margin: 0;
    padding: 0;
    list-style: none
}

.btnbox-tabs .btnbox-tabs-nav li {
    float: left;
    margin: 0;
    padding: 0
}

.btnbox-tabs .btnbox-tabs-nav li a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
    -o-transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
    transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out
}

.btnbox-tabs .btnbox-tab-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.btnbox-tabs .btnbox-tab-container p {
    margin: 0
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li {
    border-color: #80abae;
    color: #80abae;
    background-color: #fff;
    position: relative;
    border-radius: 2em;
    -webkit-transition: background-color 0s 0s;
    -o-transition: background-color 0s 0s;
    transition: background-color 0s 0s
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li a {
    padding: 8px 47px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: #2d2a2b;
    background-color: transparent;
    border: 2px solid #80abae;
    border-color: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2em;
    overflow: hidden;
	text-decoration: none;
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li.ui-state-active a,
.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li:hover a {
    color: #fff
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li a .tabs-nav-a-text {
    position: relative;
    z-index: 50;
	font-family: 'Microsoft JhengHei', Arial, Verdana, Helvetica, sans-serif;
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li a .btnbox-tabs-nav-a-bckgr {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    height: calc(100% + 2px);
    width: 0;
    border-radius: 2em;
    background-color: currentColor;
    -webkit-transition: width .4s cubic-bezier(.15, .7, .54, .99);
    -o-transition: width .4s cubic-bezier(.15, .7, .54, .99);
    transition: width .4s cubic-bezier(.15, .7, .54, .99);
    z-index: 10;
    opacity: 1
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li.ui-state-active .btnbox-tabs-nav-a-bckgr,
.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li:hover .btnbox-tabs-nav-a-bckgr {
    width: calc(100% + 2px)
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li:hover {
    background-color: currentColor!important;
    -webkit-transition: background-color 1.5s 0s;
    -o-transition: background-color 1.5s 0s;
    transition: background-color 1.5s 0s
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li.ui-state-active {
    background-color: currentColor!important;
    -webkit-transition: background-color 1.5s 0s;
    -o-transition: background-color 1.5s 0s;
    transition: background-color 1.5s 0s
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li:nth-child(1) {
    z-index: 10
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li:nth-child(2) {
    z-index: 9
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li:nth-child(3) {
    z-index: 8
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li:nth-child(4) {
    z-index: 7
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li:nth-child(5) {
    z-index: 6
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li:nth-child(6) {
    z-index: 5
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li:not(:first-child) {
    margin-left: -35px
}

.btnbox-tabs.btnbox-tabs-standard .btnbox-tab-container {
    margin: 27px 0 0;
    padding-left: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
}

.btnbox-tabs.btnbox-tabs-simple .btnbox-tabs-nav {
    border-bottom: 3px solid #d7d8d9
}

.btnbox-tabs.btnbox-tabs-simple .btnbox-tabs-nav li {
    position: relative;
    margin: 0 30px 0 0;
}

.btnbox-tabs.btnbox-tabs-simple .btnbox-tabs-nav li a {
    padding: 15px 30px;
    font-size: 19px;
    line-height: 26px;
    font-weight: 600;
    color: #2d2a2b;
}

.btnbox-tabs.btnbox-tabs-simple .btnbox-tabs-nav li:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #d6ab72;
    -webkit-transition: width .3s ease-in;
    -o-transition: width .3s ease-in;
    transition: width .3s ease-in
}

.btnbox-tabs.btnbox-tabs-simple .btnbox-tabs-nav li.ui-state-active:after,
.btnbox-tabs.btnbox-tabs-simple .btnbox-tabs-nav li.ui-state-hover:after {
    width: 100%
}

.btnbox-tabs.btnbox-tabs-simple .btnbox-tabs-nav li:last-child {
    margin: 0
}

.btnbox-tabs.btnbox-tabs-simple .btnbox-tab-container {
    padding: 29px 0
}

.btnbox-tab-container .tab-ht{
	height: 80px;
}

.member-sharing-article {
  position: relative;
}
.member-sharing-article-img {
  position: relative;
  top: -300px;
  left: -110%;
}
.ui-wget-content {
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: 0 0;
    border: 0;
    border-radius: 0
}

.ui-wget-content .ui-wget-header {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: initial;
    background: 0 0;
    border: 0;
    border-radius: 0
}

.ui-wget-content .ui-tabs-nav li {
    position: initial;
    font-weight: inherit;
    color: inherit;
    background: initial;
    border: 0;
    border-radius: 0
}

.ui-wget-content .ui-wget-content {
    color: inherit;
    background: 0 0;
    border: 0;
    border-radius: 0
}

ul.tab-selection {
  list-style: none;
  margin-bottom: 40px;
  justify-content: flex-end;
  display: flex;
}
ul.tab-selection li {
  display: inline-block;
  margin-left: 10px;
}
ul.tab-selection li img{
  width: 80px;
  cursor: pointer;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tab-content p{
  height: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contactus_bg {
  background: #e6e6e6;
}
.contactus_bg img {
  width: 100px;
  display: inline-block;
}
.contactus_bg .info-list {
  display: inline-block;
  margin-left: 10%;
  vertical-align: top
}
.contactus_bg .info-list li {
  display: block;
  line-height: 35px;
}
.contactus_bg .info-list li i {
  margin-right: 10px;
}
.contactus_bg .fa-facebook-square {
  font-size: 48px;
  color: #fff;
}
.scrollup {
	background-color: #79b4b4;
	bottom: 20px;
	color: #ffffff;
	font-size: 24px;
	height: 40px;
	line-height: 40px;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 40px;
	z-index: 99;
}
.scrollup:hover {
	background-color: #ea5513;
	color:#fff;
}
.scrollup:focus {
	color:#fff;
}
@media (max-width: 992px) {
  .navbar-collapse {
      position: fixed;
      top: 147px;
      left: 0;
      width: 300px;
      height: auto;
      background: #fff;
  }

  .navbar-collapse.collapsing {
      left: -300px;
      transition: height 0s ease;
  }

  .navbar-collapse.show {
      left: 0;
      transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
      transition: left 500ms ease-in-out;
  }
  .nav-fixed .navbar-collapse {
      top: 44px;
  }
}
@media screen and (max-width:768px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .course-section .content.mobile-active {
    visibility: visible;
    opacity: 1;
  }
  .section.small_pb, .footer_top.small_pb {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .search-container {
    display: none;
  }
  .about-us-img {
    text-align: center;
  }
  .about-us-img img {
    max-width: 50%;
  }
  .section h2 .large-eng {
    font-size: 34px;
    display: block;
    margin-left: 0;
  }
  .thebeiginning:after {
    font-size: 36px;
    right: 85px;
    top: -65px;
    width: 300px;
  }
  .btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li a {
    padding: 8px 27px;
  }
  .btnbox-tabs.btnbox-tabs-standard .btnbox-tabs-nav li:not(:first-child) {
    margin-left: -26px;
  }
  ul.tab-selection {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}